.input-search{
  width: 350px;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 7px;
}


@media screen and (max-width: 980px) {
  .small-screen {
     display: block;

  }
  .input-search{
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
  }

  
 }

@media screen and (min-width: 980px) {
  .big-screen {
     display: none;
  }
 }